August-Brandt <augustbrandt170@gmail.com> August Kofoed Brandt <augustbrandt170@gmail.com>
Copilot <175728472+Copilot@users.noreply.github.com> fromchatgpt <openai-chatgpt@git-acme.xyz>
Copilot Autofix <175728472+Copilot@users.noreply.github.com>
OpenAI's ChatGPT <175728472+Copilot@users.noreply.github.com>
Emilia-Victoria <emiliav.helsted@gmail.com> Emilia <emiliav.helsted@gmail.com>
Emilia-Victoria <emiliav.helsted@gmail.com> Emilia-Victoria <82033720+Emilia-Victoria@users.noreply.github.com>
Flakiator <niklaschristensen2002@gmail.com> Niklas <nizc@itu.dk>
Flakiator <niklaschristensen2002@gmail.com> Niklas Christensen <Flakiator@users.noreply.github.com>
Philip <phgp@itu.dk> Philipnah <phgp@itu.dk>
Philip <phgp@itu.dk> Philip Han <46556419+Philipnah@users.noreply.github.com>
Slug-Boi <github.unshipped609@slmail.me> Slug-Boi <theis.p.holm@gmail.com>
Slug-Boi <github.unshipped609@slmail.me> Theis <112340858+Slug-Boi@users.noreply.github.com>
Slug-Boi <github.unshipped609@slmail.me> Theis <Slug-Boi@users.noreply.github.com>
